{% extends 'base.html' %} {% block title %}歡迎 - 會員系統{% endblock %} {%
block content %}
<div class="text-center">
  <h2>歡迎，{{ user.username|add_stars }}！</h2>
  <p>您已成功登入系統</p>
  <a
    href="{{ url_for('edit_profile', iid=user.iid) }}"
    class="btn btn-warning m-2"
    >修改基本資料</a
  >
  <button
    data-delete-url="{{ url_for('delete_user', iid=user.iid) }}"
    onclick="if(confirm('若刪除這個使用者，所有相關記錄將一併刪除，是否繼續？')) window.location.href=this.getAttribute('data-delete-url');"
    class="btn btn-danger m-2"
  >
    刪除使用者
  </button>
  <a href="{{ url_for('index') }}" class="btn btn-secondary m-2">回首頁</a>
</div>
{% endblock %}
